.mmquicklink-enrolmentkey-div {
    display: none;
}

.mmquicklink-enrolmentkey-div .btn {
    display: inline;
    float: right;
}

.mmquicklink-enrolmentkey-div .form-control {
    width: 70%;
    display: inline;
}

.block_mmquicklink li.list {
    margin-bottom: 5px;
}

.block_mmquicklink li a {
    width: 100%;
}
