<li class="list list-addnewcourse">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#str}} addnewcourse {{/str}}
        </button>
        <div class="p-2 dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" {{#disabled}} disabled {{/disabled}} href="{{{ config.wwwroot }}}/course/edit.php?category={{{ categoryid }}}">
                {{# str }} addnewcourse {{/ str }}
            </a>
            <a class="dropdown-item" href="{{{ config.wwwroot }}}/local/course_templates/index.php">
                {{#str}} fromtemplate, block_mmquicklink {{/str}}
            </a>
        </div>
    </div>
</li>