<li class='list list-otherrole mmquicklink-otherrole'>
    <div class='mmquicklink-otherrole-div'>
        <form method='get' id='form-otherrole' action='{{{config.wwwroot}}}/course/switchrole.php'>
            <input type='hidden' name='id' value='{{{courseid}}}'>
            <input type='hidden' name='switchrole' value='{{{otherrole}}}'>
            <input type='hidden' name='sesskey' value='{{{sesskey}}}'>
            <input type='hidden' name='returnurl' value='{{{url}}}'>
            <a onclick='document.getElementById("form-otherrole").submit()' class='mmquicklink-btn btn btn-secondary btn-otherrole'
            value='{{#str}}switchrole, block_mmquicklink{{/str}} {{{otherroleshortname}}}'>
            {{#str}}switchrole, block_mmquicklink{{/str}} {{{otherroleshowname}}}
            </a>
        </form>
    </div>
</li>