<p>{{#str}}buttonsorting, block_mmquicklink{{/str}}</p>
<div class="d-none alert alert-success alert-dismissable fade show" role="alert" id="quicklink-sort-alert">{{#str}}saved, block_mmquicklink{{/str}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<ul id="quicklink-sort">
    <li id='1' data-button="turneditingon" class="btn btn-block btn-default text-center">{{#str}}turneditingon{{/str}}</li>
    <li id='2' data-button="addnewcourse" class="btn btn-block btn-default text-center">{{#str}}addcourse, block_mmquicklink{{/str}}</li>
    <li id='3' data-button="coursemgmt" class="btn btn-block btn-default text-center">{{#str}}coursemgmt, block_mmquicklink{{/str}}</li>
    <li id='4' data-button="deletecourse" class="btn btn-block btn-default text-center">{{#str}}setting_delcourse, block_mmquicklink{{/str}}</li>
    <li id='5' data-button="archivecourse" class="btn btn-block btn-default text-center">{{#str}}setting_archive, block_mmquicklink{{/str}}</li>
    <li id='6' data-button="editsettings" class="btn btn-block btn-default text-center">{{#str}}editsettings, core{{/str}}</li>
    <li id='7' data-button="participants" class="btn btn-block btn-default text-center">{{#str}}setting_participants, block_mmquicklink{{/str}}</li>
    <li id='8' data-button="easylink" class="btn btn-block btn-default text-center">{{#str}}setting_easylink, block_mmquicklink{{/str}}</li>
    <li id='9' data-button="grades" class="btn btn-block btn-default text-center">{{#str}}setting_course_grades, block_mmquicklink{{/str}}</li>
    <li id='10' data-button="hidecourse" class="btn btn-block btn-default text-center">{{#str}}setting_hidecourse, block_mmquicklink{{/str}}</li>
    <li id='11' data-button="otherrole" class="btn btn-block btn-default text-center">{{#str}}setting_otherrole_select, block_mmquicklink{{/str}}</li>
    <li id='12' data-button="localreportssummary" class="btn btn-block btn-default text-center">{{#str}}local_reports_summary, block_mmquicklink{{/str}}</li>
    <li id='13' data-button="reports" class="btn btn-block btn-default text-center">{{#str}}setting_reports, block_mmquicklink{{/str}}</li>
    <li id='14' data-button="customlang" class="btn btn-block btn-default text-center">{{#str}}setting_langcust, block_mmquicklink{{/str}}</li>
    <li id='15' data-button="themesettings" class="btn btn-block btn-default text-center">{{#str}}setting_themesettings, block_mmquicklink{{/str}}</li>
    <li id='16' data-button="enrolmentkey" class="btn btn-block btn-default text-center">{{#str}}enrolmentkey, block_mmquicklink{{/str}}</li>
    <li id='17' data-button="coursebgimagechanger" class="btn btn-block btn-default text-center">{{#str}}coursebgimagechanger, block_mmquicklink{{/str}}</li>
</ul>
