<p>{{#str}}buttonsorting, block_mmquicklink{{/str}}</p>
<div class="d-none alert alert-success alert-dismissable fade show" role="alert" id="quicklink-sort-alert">{{#str}}saved, block_mmquicklink{{/str}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="d-none alert alert-success alert-dismissable fade show" role="alert" id="quicklink-sort-alert-saving">{{#str}}saving, block_mmquicklink{{/str}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<a href="{{{config.wwwroot}}}/blocks/mmquicklink/resetsorting.php" class="mb-2 btn btn-primary">{{#str}}clicktoresetgroup, block_mmquicklink{{/str}}</a>
<a href="{{{config.wwwroot}}}/blocks/mmquicklink/resetsorting2.php" class="mb-2 btn btn-primary">{{#str}}clicktoresetlist, block_mmquicklink{{/str}}</a>

<div id="main-list" class="list-group col nested-sortable mb-3">
    {{#parents}}
        <div class="list-group-item nested-1 main-level {{#expandbutton}}expand mmquicklink-mainbtn{{/expandbutton}} {{^expandbutton}}draggable-btn{{/expandbutton}} px-0 py-2" data-sortable-id="{{button}}">
            <div class="list-group-item nested-1 btn btn-default border-0 {{#expandbutton}} btn-secondary mb-2{{/expandbutton}}">{{string}}</div>
            {{#expandbutton}}
                <div class="list-group nested-sortable ml-5" id="{{button}}">
                    {{#children}}
                    <div class="list-group-item nested-2  btn btn-block btn-default draggable-btn text-center nested-2 pb-1" data-put="false" data-sortable-id="{{button}}">
                        {{string}}
                    </div>
                    {{/children}}
                </div>
            {{/expandbutton}}
        </div>

    {{/parents}}

</div>

