<ul id="quicklink-sort">
    <li id='1' data-button="turneditingon" class="btn btn-block btn-default text-center">Muokkaustila</li>
    <li id='2' data-button="addnewcourse" class="btn btn-block btn-default text-center">Luo kurssi</li>
    <li id='3' data-button="coursemgmt" class="btn btn-block btn-default text-center">Lisää/muokkaa kursseja</li>
    <li id='4' data-button="deletecourse" class="btn btn-block btn-default text-center">Poista kurssi</li>
    <li id='5' data-button="archivecourse" class="btn btn-block btn-default text-center">Arkistoi kurssi</li>
    <li id='6' data-button="editsettings" class="btn btn-block btn-default text-center">Kurssin asetukset</li>
    <li id='7' data-button="participants" class="btn btn-block btn-default text-center">Osallistujat</li>
    <li id='8' data-button="grades" class="btn btn-block btn-default text-center">Arvioinnit</li>
    <li id='9' data-button="showhidecourse" class="btn btn-block btn-default text-center">Piilota/näytä kurssi</li>
    <li id='10' data-button="otherrole" class="btn btn-block btn-default text-center">Vaihda roolia</li>
    <li id='11' data-button="summaryreport" class="btn btn-block btn-default text-center">Yhteenvetoraportti</li>
    <li id='12' data-button="reports" class="btn btn-block btn-default text-center">Raportit</li>
    <li id='13' data-button="customlang" class="btn btn-block btn-default text-center">Kielen muokkaus</li>
    <li id='14' data-button="themesettings" class="btn btn-block btn-default text-center">Teeman asetukset</li>
    <li id='15' data-button="enrolmentkey" class="btn btn-block btn-default text-center">Kurssiavain</li>
</ul>
